{% extends 'SkyTestBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="large-12 columns">
            {% for teacher in teachers.iterator %}
                <div class="row">
                    <p>
                        <a href="{{ path('sky_test_teacher_index', {'id': teacher.id}) }}">{{ teacher.name }}</a>
                        {{ teacher.students.count }}
                    </p>
                </div>
            {% endfor %}
            <div class="row">
                <p>Всего учителей в базе: {{ count }}</p>
                Страница: {{ page  }} из {{ count // pageSize + 1 }}
                {% for i in 1..(count // pageSize + 1) %}
                    {% if page == i %}
                        {{ i }}
                    {% else %}
                        <a href="{{ path('sky_test_homepage', {'page': i, 'pageSize': pageSize}) }}">
                            {{ i }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}