{% extends 'SkyTestBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="large-12 columns">
            {% for Teacher in Teachers.iterator %}
                <div class="row">
                    <p>
                        <a href="{{ path('sky_test_teacher_index', {'id': Teacher.id}) }}">{{ Teacher.name }}</a>
                        {{ Teacher.students.count }}
                    </p>
                </div>
            {% endfor %}
            <div class="row">
                <p>Всего учителей в базе: {{ Count }}</p>
                Страница: {{ Page  }} из {{ Count // PageSize + 1 }}
                {% for i in 1..(Count // PageSize + 1) %}
                    {% if Page == i %}
                        {{ i }}
                    {% else %}
                        <a href="{{ path('sky_test_homepage', {'page': i, 'pageSize': PageSize}) }}">
                            {{ i }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}