{% extends 'SkyTestBundle::layout.html.twig' %}

{% block title %}
    Sky | Система учета | Список учителей
{% endblock %}

{% block body %}
    <div class="row">
        <div class="large-12 columns">
            <h3>Добро пожаловать в систему учёта.</h3>
        </div>
    </div>
    <div class="row ">
        <div class="large-4 columns right right-align">
            Показывать на странице:
            {% for i in [10,15,20,25] %}
                {% if i == pageSize %}
                    {{ i }}
                {% else %}
                    <a href="{{ path('sky_test_homepage', { 'page': page, 'pageSize': i, 'sortField': sortField, 'sortDirection': sortDirection} ) }}">{{ i }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            {% if count > 0 %}
                <table>
                    <caption>Список учителей:</caption>
                    <thead>
                        <tr>
                            <th width="650"><a href="{{ block('name_sort_link') }}">Имя учителя</a></th>
                            <th width="350"><a href="{{ block('count_sort_link') }}">Количество учеников</a></th>
                        </tr>
                    </thead>
                    <tbody>
                {% for teacher in teachers.iterator %}
                    <tr>
                        <td><a href="{{ path('sky_test_teacher_index', {'id': teacher.id}) }}">{{ teacher.name }}</a></td>
                        <td>{{ teacher.students.count }}</td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
                <p>Всего учителей в базе: {{ count }}</p>
                {% if count > pageSize %}
                    {% for i in 1..(count // pageSize + 1) %}
                        {% if page == i %}
                            {{ i }}
                        {% else %}
                            <a href="{{ path('sky_test_homepage', { 'page': i, 'pageSize': pageSize, 'sortField': sortField, 'sortDirection': sortDirection} ) }}">
                                {{ i }}
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% else %}
                <div class="row">
                    Ваша база данных учителей пуста. <a href="{{ path('sky_test_teacher_new') }}">Начните её заполнение с создания учителя.</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block name_sort_link %}
    {% if sortField == 'name' and sortDirection == 'DESC' %}
        {{ path( 'sky_test_homepage', {'page': page, 'pageSize': pageSize, 'sortField': sortField, 'sortDirection': 'ASC'} ) }}
    {% else %}
        {{ path( 'sky_test_homepage', {'page': page, 'pageSize': pageSize, 'sortField': 'name', 'sortDirection': 'DESC'} ) }}
    {% endif %}
{% endblock %}

{% block count_sort_link %}
    {% if sortField == 'count' and sortDirection == 'DESC' %}
        {{ path( 'sky_test_homepage', {'page': page, 'pageSize': pageSize, 'sortField': sortField, 'sortDirection': 'ASC'} ) }}
    {% else %}
        {{ path( 'sky_test_homepage', {'page': page, 'pageSize': pageSize, 'sortField': 'count', 'sortDirection': 'DESC'} ) }}
    {% endif %}
{% endblock %}