<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% block title %}
        Sky | Welcome
        {% endblock %}
    </title>
    <link rel="stylesheet" href={{ asset('bundles/skytest/css/foundation.css') }} />
    <script src={{ asset('bundles/skytest/js/vendor/modernizr.js') }}></script>
</head>
<body>
<div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">{% block page_name %}Sky{% endblock %}</a></h1>
            </li>
        </ul>

        <section class="top-bar-section">
            {% block navigation %}
            <ul class="right">
                <li class="has-dropdown">
                    <a>Отчеты</a>
                    <ul class="dropdown">
                        <li><a href="{{ path('sky_test_report_max_pair') }}">Общие ученики</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a>Учителя</a>
                    <ul class="dropdown">
                        <li><a href="{{ path('sky_test_homepage') }}">Список</a></li>
                        <li><a href="{{ path('sky_test_teacher_new') }}">Создать</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a>Ученики</a>
                    <ul class="dropdown">
                        <li><a href="{{ path('sky_test_student_list') }}">Список</a></li>
                        <li><a href="{{ path('sky_test_student_new') }}">Создать</a></li>
                    </ul>
                </li>
            </ul>
            {% endblock %}
        </section>
    </nav>
</div>
{% block body %}
{% endblock %}
<script src={{ asset('bundles/skytest/js/vendor/jquery.js') }}></script>
<script src={{ asset('bundles/skytest/js/foundation.min.js') }}></script>
<script>
    $(document).foundation();
</script>
</body>
</html>