{% extends 'SkyTestBundle::layout.html.twig' %}

{% block title %}
    Sky | Система учета | Список учеников
{% endblock %}

{% block body %}
    <div class="row">
        <div class="large-12 columns">
            <h3>Список учеников</h3>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            {% if count > 0 %}
                <table>
                    <caption>Список учителей:</caption>
                    <thead>
                    <tr>
                        <th width="300">Имя ученика</th>
                        <th>Количество учителей</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in students.iterator %}
                        <tr>
                            <td><a href="{{ path('sky_test_student_index', {'id': student.id}) }}">{{ student.name }}</a></td>
                            <td>{{ student.teachers.count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p>Всего учеников в базе: {{ count }}</p>
                {% if count > pageSize %}
                    {% for i in 1..(count // pageSize + 1) %}
                        {% if page == i %}
                            {{ i }}
                        {% else %}
                            <a href="{{ path('sky_test_homepage', {'page': i, 'pageSize': pageSize}) }}">
                                {{ i }}
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% else %}
                <div class="row">
                    Ваша база данных учеников пуста. <a href="{{ path('sky_test_student_new') }}">Хотите добавить нового ученика?</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}